<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="/" class="navbar-brand">
        mySpace</a></div>

    <ul class="navbar-nav">
      <li><a *ngIf="hardCodedAutheticationService.isLoggedIn()" routerLink="/welcome/Prashanth" class="nav-link">Home</a></li>
      <li><a *ngIf="hardCodedAutheticationService.isLoggedIn()" routerLink="/listTodos" class="nav-link">Todos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!hardCodedAutheticationService.isLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="hardCodedAutheticationService.isLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</header>