<H1>
  Welcome!
</H1>
<div class="alerts alert-danger" *ngIf=errorMessageFromService> 
  {{ errorMessageFromService }}
</div>
<div class="container">
Welcome {{ name }}. You can manage your todo's <a routerLink="/todos">here</a>
</div>

<div  class="container">
  CLick here to get the customized button
  <button (click)="gettheMessage()" class="btn btn-success">Get the Message</button>
</div> 

<div  class="container">
  CLick here to get the customized button
  <button (click)="gettheMessageWithParam()" class="btn btn-success">Get the Message with name</button>
</div> 

<div class="container"  *ngIf=messageFromService>
  Your Message from the service <br>
  {{ messageFromService }}
</div>